body {
  margin: 0;
  padding: 0;
  background: rgb(34, 193, 195);
  background: radial-gradient(circle, rgba(34, 193, 195, 1) 0%, rgba(253, 187, 45, 1) 97%);
}

h1 {
  width: max-content;
  margin: 30px auto;
  font-size: 48px;
}

.recentScore {
  display: flex;
  justify-content: space-around;
}

h2 {
  font-size: 32px;
  color: black;
}

#h2ImgWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#h2ImgWrapper > h2 {
  margin-right: 20px;
}

#recentScore {
  width: 35%;
}

#addYourScore {
  display: flex;
  flex-direction: column;
  width: 35%;
}

.mb {
  margin-bottom: 20px;
}

#submit {
  width: 40%;
  align-self: flex-end;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  background: #ddd;
  height: 30px;
  padding-left: 20px;
  border-radius: 20px;
  padding-top: 20px;
  margin-bottom: 5px;
}

li:nth-child(odd) {
  background: rgb(135, 129, 129);
}

.hideError {
  display: none;
}

.showError {
  display: block;
  color: red;
}

.button {
  background-color: #a53f2b;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  transition-duration: 0.4s;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.button:hover {
  background-color: black;
}

input {
  border-radius: 25px;
  height: 50px;
  padding-left: 20px;
}
